<ons-page ng-controller="searchController">
    <div id="SearchSection">
        <div style="margin-top: 2%; margin-bottom: 2%;" class="center"><input id="TxtSearch" type="text" class="search-input" placeholder="Search"></input></div>
        <ons-button style="margin-bottom: 2%;" modifier="large" ng-click="search()">Filter</ons-button>
        <ons-button modifier="large--cta" ng-click="search()">Search</ons-button>
    </div>
    <div id="SearchResults">
        <div id="ResultError"></div>
    </div>
</ons-page>