<ons-page id="intro_dialog.html" >
    <ons-dialog var="introDialog" ng-controller="introDialogController" cancelable>
        <ons-toolbar inline>
            <div class="center">
                Welcome to Frugality
            </div>
        </ons-toolbar>
        <div id="ChooseType">
            <div class="center">
                <p style="text-align: center">Please choose your preferred locating method</p>
                <p><ons-button modifier="large" ng-click="setLocationPref(0)">Enter Zip</ons-button></p>
                <p><ons-button modifier="large" ng-click="setLocationPref(1)">Use GPS</ons-button></p>
            </div>
        </div>
    </ons-dialog>
</ons-page>