<ons-page ng-controller="tabHostController">
    <div id="HomePage">
        <ons-toolbar fixed-style="true">
            <div class="left">
                <ons-toolbar-button ng-click="menu.toggleMenu()">
                    <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
                </ons-toolbar-button>
            </div>
            <div class="center">Frugality</div>
        </ons-toolbar>

        <ons-tabbar position="top">
            <ons-tab page="top/tabs/search.html" active="true">
                <ons-icon icon="ion-search"></ons-icon>
                <span style="font-size: 14px"></span>
            </ons-tab>
            <ons-tab page="top/tabs/watching.html" active="true">
                <ons-icon icon="ion-eye"></ons-icon>
                <span style="font-size: 14px"></span>
            </ons-tab>
            <ons-tab page="" active="true">
                <ons-icon icon="ion-help"></ons-icon>
                <span style="font-size: 14px"></span>
            </ons-tab>
        </ons-tabbar>
    </div>
</ons-page>


<ons-template id="intro_dialog.html" ng-controller="introDialogController">
    <ons-dialog var="introDiag" cancelable>
        <ons-toolbar inline>
            <div class="center">
                Welcome to Frugality
            </div>
        </ons-toolbar>
        <div id="ChooseType">
            <div class="center">
                <p style="text-align: center">Please choose your preferred locating method</p>
                <p><ons-button modifier="large" ng-click="setLocationPref(0)">Enter Zip</ons-button></p>
                <p><ons-button modifier="large" ng-click="setLocationPref(1)">Use GPS</ons-button></p>
            </div>
        </div>
        <div id="ChooseZip" style="display: none;">
            <div class="center">
                <input type="number" class="text-input" placeholder="Enter Zip Code"></input>
            </div>
        </div>
    </ons-dialog>
</ons-template>