/*Settings*/
.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

/*onsen-dialogs*/
ons-dialog:not([modifier='material']) p {
    margin-left: 10px;
    margin-right: 10px;
}



#IndexPage {
    background-image: url("../res/img/frugalitysplash.png");
    background-size: 100% 101%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
#SplashIcon{
    color: white;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-50%, -50%);

}